
/* Modul 4 lekcja 8 - dodatkowe style do normalize.css */
html { 
    box-sizing: border-box; 
}
*, *:before, *:after { 
    box-sizing: inherit 
}

h1 {
    color: green;
    padding: 16px;
}
h2 {
    color: #141007;
    background: red;
}
section {
    background: #bebebe;
}
body {
    background: #cecece;
}

.zielony {
    color: green;
}

#paragraf_2 {
    color: yellow;
}

/* p {
    color: red !important
} */

a {
    color: orange
}

/* section a {
    color: blue
} */

.articleClass p {
    background-color: aqua;
    padding: 16px;
}

.my-article {
    color: darkmagenta
}

.about {
    color: darkred
}

a {
    color: inherit
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

header {
    padding: 16px;
}

.navigation {
    background-color: blue;
}

.navigation__link {
    color: white
}

.section {
    background: green;
}

.section__header {
    color: blue
}

.section__header--special {
    color: greenyellow
}