h1 {
    color: green;
}
h2 {
    color: #141007;
    background: red;
}
section {
    background: #bebebe;
}
body {
    background: #cecece;
}

.zielony {
    color: green;
}

#paragraf_2 {
    color: yellow;
}

p {
    color: red !important

}

a {
    color: orange
}

section a {
    color: blue
}

.articleClass p {
    background-color: aqua;
}