
/* Modul 4 lekcja 8 - dodatkowe style do normalize.css */
html { 
    box-sizing: border-box; 
}
*, *:before, *:after { 
    box-sizing: inherit 
}

h1 {
    color: green;
    padding: 16px;
}
h2 {
    color: #141007;
    background: red;
}
section {
    background: #bebebe;
}
body {
    background: #cecece;
}

.zielony {
    color: green;
}

#paragraf_2 {
    color: yellow;
}

/* p {
    color: red !important
} */

a {
    color: orange
}

/* section a {
    color: blue
} */

.articleClass p {
    background-color: aqua;
    padding: 16px;
}

.my-article {
    color: darkmagenta
}

.about {
    color: darkred
}

a {
    color: inherit
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

header {
    padding: 16px;
}

.navigation {
    background-color: blue;
}

.navigation__link {
    color: white
}

.section {
    background: green;
}

.section__header {
    color: blue
}

.section__image {
    max-width: 100%;
    display: block;
}

.section__header--special {
    color: greenyellow
}

.header {
    position: sticky;
    top: 0;
}

main {
    max-width: 764px;
    margin: 0 auto;
}

.modul-5-lekcja-2 {
    background: yellowgreen;
}

.typografia-span {
    color: white;
}

.typografia-font-size {
    font-size: 40px;
}

.typografia-font-weight {
    font-weight: 900;
}

.typografia-line-height {
    line-height: 10
}

.typografia-letter-spacing {
    letter-spacing: 20px
}

.modul-5-lekcja-3 {
    background: limegreen;
    font-size: 10px;
}

.typografia-em {
    font-size: 2em;
}

.typografia-rem {
    font-size: 2rem;
}

.modul-5-lekcja-5__unordered-list {
    list-style-type: circle
}

.modul-5-lekcja-5__ordered-list {
    list-style-type: decimal-leading-zero
}

.modul-5-lekcja-5__table {
    width: 100%;
    text-align: left;
}
.modul-5-lekcja-9__flexbox {
    border: 1px solid #efc944;
    display: flex;
    flex-direction: row;
    //flex-direction: column;
    flex-wrap: wrap;
    //height: 200px;
    width: 50px
}
.modul-5-lekcja-9__flexbox-item {
    background: #1c152a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    //width: 300px;
    //height: 200px;
}

.modul-5-lekcja-10__flexbox {
    border: 1px solid #efc944;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-content; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */

    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: space-around; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: center; */
    align-items: baseline;

    /* height: 700px; */

}
.modul-5-lekcja-10__flexbox-item {
    background: #1c152a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 40px;
}

.modul-5-lekcja-10__flexbox-item--self {
    /* align-self: stretch;
    align-self: flex-end; */
    align-self: center;
}

.modul-5-lekcja-11__flexbox {
    border: 1px solid #efc944;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem
}


.modul-5-lekcja-11__flexbox-item {
    background: #1c152a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    order: 20;
    /* flex-grow: 1; */
    /* flex-grow: 0; */
    /* width: 200px; */
    /* flex-shrink: 3; */
    /* flex-basis: 100px; */
    flex: 1 0 100px;
}    

/* .modul-5-lekcja-11__flexbox-item--order {
    order: 2
} */

/* .modul-5-lekcja-11__flexbox-item--grow {
    flex-grow: 0;
    flex-shrink: 1;
} */

.modul-5-lekcja-12 {
    background: #09070C;
    color: lime;
    /* min-height: 100vh; */
    height: 300px;
    font-size: 2rem;
    padding: 2rem;
    overflow: scroll;
    background-image: url('/wtf/dev/homepage/example.png');
    background-position: center;
    background-position: 0 0;
    background-attachment: fixed;
    background-repeat: round;
    background-clip: content-box;
    background-color: rgba(0,0,0,0.5);
}

.modul-5-lekcja-13 {
    color: lime;
    background-color: #020310;
    background-image: linear-gradient(135deg, #020310 28%, #C850C0 56%, #FFCC70 78%);
}
 