@import "components/modul-8-lekcja-2.scss";
@import "../../node_modules/normalize.css/normalize.css";

/* Modul 4 lekcja 8 - dodatkowe style do normalize.css */
html { 
    box-sizing: border-box; 
}
*, *:before, *:after { 
    box-sizing: inherit 
}

h1 {
    color: green;
    padding: 16px;
}
h2 {
    color: #141007;
    background: red;
    &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: black;
    }
}
section {
    background: #bebebe;
}
body {
    background: #cecece;
}

.zielony {
    color: green;
}

#paragraf_2 {
    color: yellow;
}

/* p {
    color: red !important
} */

a {
    color: orange
}

/* section a {
    color: blue
} */

.articleClass p {
    background-color: aqua;
    padding: 16px;
}

.my-article {
    color: darkmagenta
}

.about {
    color: darkred
}

a {
    color: inherit
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

header {
    padding: 16px;
}

.navigation {
    background-color: blue;
}

.navigation__link {
    color: white
}

.section {
    background: green;
}

.section__header {
    color: blue
}

.section__image {
    max-width: 100%;
    display: block;
}

.section__header--special {
    color: greenyellow
}

.header {
    position: sticky;
    top: 0;
}

main {
    max-width: 764px;
    margin: 0 auto;
}

.modul-5-lekcja-2 {
    background: yellowgreen;
}

.typografia-span {
    color: white;
}

.typografia-font-size {
    font-size: 40px;
}

.typografia-font-weight {
    font-weight: 900;
}

.typografia-line-height {
    line-height: 10
}

.typografia-letter-spacing {
    letter-spacing: 20px
}

.modul-5-lekcja-3 {
    background: limegreen;
    font-size: 10px;
}

.typografia-em {
    font-size: 2em;
}

.typografia-rem {
    font-size: 2rem;
}

.modul-5-lekcja-5__unordered-list {
    list-style-type: circle
}

.modul-5-lekcja-5__ordered-list {
    list-style-type: decimal-leading-zero
}

.modul-5-lekcja-5__table {
    width: 100%;
    text-align: left;
}
.modul-5-lekcja-9__flexbox {
    border: 1px solid #efc944;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* height: 200px; */
    width: 50px
}
.modul-5-lekcja-9__flexbox-item {
    background: #1c152a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    /* width: 300px; */
    /* height: 200px; */
}

.modul-5-lekcja-10__flexbox {
    border: 1px solid #efc944;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-content; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */

    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: space-around; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: center; */
    align-items: baseline;

    /* height: 700px; */

}
.modul-5-lekcja-10__flexbox-item {
    background: #1c152a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 40px;
}

.modul-5-lekcja-10__flexbox-item--self {
    /* align-self: stretch;
    align-self: flex-end; */
    align-self: center;
}

.modul-5-lekcja-11__flexbox {
    border: 1px solid #efc944;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem
}


.modul-5-lekcja-11__flexbox-item {
    background: #1c152a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    order: 20;
    /* flex-grow: 1; */
    /* flex-grow: 0; */
    /* width: 200px; */
    /* flex-shrink: 3; */
    /* flex-basis: 100px; */
    flex: 1 0 100px;
}    

/* .modul-5-lekcja-11__flexbox-item--order {
    order: 2
} */

/* .modul-5-lekcja-11__flexbox-item--grow {
    flex-grow: 0;
    flex-shrink: 1;
} */

.modul-5-lekcja-12 {
    background: #09070C;
    color: lime;
    /* min-height: 100vh; */
    height: 300px;
    font-size: 2rem;
    padding: 2rem;
    overflow: scroll;
    /* background-image: url('/wtf/dev/homepage/example.png'); */
    background-image: url('../example.png');
    background-position: center;
    background-position: 0 0;
    background-attachment: fixed;
    background-repeat: round;
    background-clip: content-box;
    background-color: rgba(0,0,0,0.5);
}

.modul-5-lekcja-13 {
    color: lime;
    background-color: #020310;
    background-image: linear-gradient(135deg, #020310 28%, #C850C0 56%, #FFCC70 78%);
}
 
.modul-5-parca-domowa {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modul-6-lekcja-8 .grid {
    display: grid;
    /* grid-template-columns: 200px 400px 200px; */
    /* grid-template-columns: 1fr 1fr 2fr;  */
    /* grid-template-columns: 1fr 100px 2fr;  */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr minmax(20px, 100px);
    grid-template-rows: 200px 200px 300px;
    column-gap: 24px;
    row-gap: 10px;
}

.modul-6-lekcja-8 .grid__item {
        background: #1C152A;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 1rem;
        padding: 1rem;
        flex: 0 1 50px;
}

.modul-6-lekcja-9 .grid {
    display: grid;
    /* grid-template-areas: 
      "header header"
      "article aside"
      "footer footer"; */
    grid-template-columns: 1fr 100px;
    gap: 24px;
}

.modul-6-lekcja-9 .header {
    /* grid-area: header; */
    /* grid-area: 1 / 1 / 2 / 3; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}
.modul-6-lekcja-9 .article {
    /* grid-area: article; */
    /* grid-area: 2 / 1 / 3 / 2; */
    /* tu nie trzeba definiować */
    background: red;
}
.modul-6-lekcja-9 .aside {
    /* grid-area: aside; */
    /* grid-area: 2 / 2 / 3 / 3; */
    /* tu nie trzeba definiować */
    background: pink;
}

.modul-6-lekcja-9 .footer {
    /* grid-area: footer; */
    /* grid-area: 3 / 1 / 4 / 3 */
    grid-column-start: 1;
    grid-column-end: 3;
}

.modul-6-lekcja-11 {
    background-color: green;
}

@media screen and (min-width: 321px) {
    .modul-6-lekcja-11 {
        background-color: blue;
    }
}

@media screen and (min-width: 769px) {
    .modul-6-lekcja-11 {
        background-color: yellow;
    }
}

.modul-6-lekcja-12__button {
    background-color: blue;
    color: white;
    font-weight: 700;
    border: 0;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}

.modul-6-lekcja-13__header {
    min-height: 50px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modul-6-lekcja-13__navigation {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 50px;
    width: 100%;
}

.modul-6-lekcja-13__navigation--open {
    display: flex;
}

.modul-6-lekcja-13__hamburger {
    padding: 4px;
    /* background: none; */
    /* border: 0; */
    /* font-size: 2rem; */
}

@media screen and (min-width: 769px) {
    .navigation {
        background-color: green;
        /* padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px; */
    }
    .modul-6-lekcja-13__navigation {
        flex-direction: row;
        position: static;
        display: flex;
    }
    .navigation__link {
        color: white
    }
    .modul-6-lekcja-13__hamburger {
        display: none;
    }
}

.modul-7-lekcja-9 {
    $textColor: green;
    $desktop: 1280px;
    $tablet: 768px;

    &__paragraph--1 {
        color: $textColor
    }

    @media screen and (min-width: $tablet) {
        color: red
    }

    @media screen and (min-width: $desktop) {
        background-color: red;
    }
}

.modul-7-lekcja-10 {
    .modul-7-lekcja-10__paragraph {
        background-color: green;
    }

    .modul-7-lekcja-10__paragraph::before {
        content: "Dodatkowa treść (::before) "
    }

    .modul-7-lekcja-10__paragraph::after {
        content: "";
        display: block;
        background-color: red;
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    .modul-7-lekcja-10__paragraph:hover {
        background-color: yellow;
    }

    .modul-7-lekcja-10__list {
        background-color: green;
    }

    .modul-7-lekcja-10__list li:first-child {
        background-color: yellow;
    }

    .modul-7-lekcja-10__list li:last-child {
        background-color: white;
    }

    .modul-7-lekcja-10__list--special {
        color: blue;
    }
    
    li:not(.modul-7-lekcja-10__list--special) {
        color: red;
    }
}

// h2::before {
//     content: "";
//     display: inline-block;
//     width: 15px;
//     height: 15px;
//     background-color: #C850C0;
// }

.modul-7-praca-domowa {
    background-color: brown;
    &__h2 {
        background-color: yellow;
        &--paragraph-1 {
            background-color: wheat;
        }
        &--paragraph-2 {
            background-color: grey;
        }
    }
    &__h3 {
        background-color: greenyellow;
        &--paragraph-1 {
            background-color: orange;
        }
        &--paragraph-2 {
            background-color: violet;
        }
    }
}